html, body {
  margin: 20px;
  padding: 20px;
}
canvas {
  display: left;
  margin: 0 auto;
  padding-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

header {
  font-family: "DM Serif Text", serif;
  font-size: 1.5em;
  background-color: white;
  color: black;
  text-align: left;
  font-style: italic;
  padding-left: 10px;
}

header h3 {
  font-family: "Inter", sans-serif;
  font-style: italic !important;
  font-size: 1.5em;
  font-weight: 900;
  color: red;
  text-align: left;
  padding-left: 40px;
  padding-top: 20px;
  
}

header h2 {
  font-family: "Inter", sans-serif;
  font-style: italic !important;
  font-size: 1.5em;
  font-weight: 900;
  color: red;
  text-align: left;
  padding-left: 40px;
  padding-top: 20px;
  
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: red;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
}