html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  font-family: "DM Serif Text", serif;
  font-size: 1.5em;
  background-color: white;
  color: black;
  text-align: left;
  font-style: italic;
  padding-left: 10px;
}

caption {
  font-family: "DM Serif Text", serif;
  font-size: 1.5em;
  background-color: white;
  color: red;
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
}

paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  background-color: white;
  color: red;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
}